.html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    //font-family: 'Roboto', sans-serif;
}

p,
h1,
h2 {
    margin: 0;
}

@mixin text_par($f, $c, $w) {
    font-size: $f;
    color: $c;
    font-weight: $w;
}

@mixin block_size($w, $h) {
    width: $w;
    height: $h;
}

%button {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background: #75E169;
    border-radius: 5px;
    box-sizing: border-box;

    &:hover {
        border: 2px solid white;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//-------------HEADER---------------------

.wrap_header {
    width: 1920px;
    height: 95px;
    background: #67AEFC;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    .block_head {
        height: 59px;
        width: 1170px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo_dev {
            width: 242px;
            height: 59px;
            display: flex;
            align-items: center;
            flex-direction: row;


            .img {
                width: 74px;
                height: 59px;
                background: url('./../image/logo.png');
                margin-right: 6px;
            }

            h1 {
                font-family: 'Mingzat', sans-serif;
                @include text_par(17px, white, bold);
                letter-spacing: 4px;
            }
        }

        .nav_items {
            width: 621px;
            height: 38px;
            display: flex;
            flex-direction: row;
            align-items: center;

            ul {
                display: flex;
                flex-direction: row;
                width: 421px;
                height: 20px;
                justify-content: space-between;
                align-items: center;
                padding-left: 0;

                li {
                    list-style-type: none;
                    color: white;
                    font-size: 18px;
                    cursor: pointer;

                    &:hover {
                        color: yellow;
                    }
                }
            }

            button {
                width: 170px;
                height: 38px;
                @extend %button;
                margin-left: 40px;
                @include text_par(12px, white, 600);

            }
        }

    }
}

//---------------MAIN block--------------------

.main_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block_about {
    width: 1920px;
    height: 766px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 170px 375px 0px 375px;
    background: url('./../image/first_block_fon.jpg');

    h1 {
        width: 550px;
        height: 190px;
        font-family: 'Mingzat', sans-serif;
        @include text_par(50px, #484848, 900);
        line-height: 60px;
        margin-bottom: 20px;
    }

    p {
        width: 432px;
        height: 88px;
        @include text_par(16px, black, 400);
        margin-bottom: 58px;
    }

    button {
        width: 260px;
        height: 60px;
        @extend %button;
        @include text_par(12px, white, 600);

    }
}

.we_offer_block{
    width: 1920px;
    padding: 120px 375px 120px 375px;
    box-sizing: border-box;
    background: #DAECFF;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        width: 1170px;
        display: flex;
        justify-content: center;
        height: 105px;
        font-family: 'Mingzat', sans-serif;
        @include text_par(30px, #111111, 900);
    }

    .block_offers{
        width: 1170px;

        .offer_menu_1, .offer_menu_2, .offer_menu_3, .offer_menu_4, .offer_menu_5{
            margin-top: 13px;
            background: white;
            border-radius: 15px;
            position: relative;

            .offer_menu_header{
                width: 1170px;
                height: 61px;
                display: flex;
                align-items: center;
                flex-direction: row;
                padding-left: 44px;
                padding-right: 39px;

                p{
                    font-size: 18px;
                }

                .offer_menu_circum{
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: #75E169;
                    margin-right: 28px;
                }

                .arrow{
                    width: 30px;
                    height: 30px;
                    background: url('./../image/ChevronDown.png');
                    position: absolute;
                    right: 39px;
                    cursor: pointer;
                }

            }


            .block_subtext_menu{
                width: 1170px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                flex-direction: row;
                padding-left: 54px;
                padding-right: 70px;
                position: relative;
                padding-bottom: 0px;

                max-height: 0px;
                overflow: hidden;
                transition: .7s ease max-height,
                .7s ease padding-bottom;


                .line{
                    position: absolute;
                    height: 70%;
                    width: 1px;
                    background: black;
                }

                .subtext_menu{
                    font-size: 18px;
                    margin-left: 40px;
                    line-height: 25px;
                }

            }

            &.active{
                .offer_menu_circum{
                    background: #67AEFC;
                }

                p{
                    font-weight: bold;
                }

                .arrow{
                    background: url('./../image/ChevronUp.png');
                }

                .block_subtext_menu{
                    max-height: 300px;
                    padding-bottom: 50px;
                }

            }

        }
    }
}

//-----------SWIPER----------------------

.wrapper_slider{
    width: 1920px;
    height: 908px;
    background: url('./../image/BG.png');
    padding-top: 120px;
    text-align: center;
    box-sizing: border-box;
    h2{
        width: 1920px;
        display: flex;
        justify-content: center;
        height: 40px;
        font-family: 'Mingzat', sans-serif;
        @include text_par(30px, #111111, 900);
        margin-bottom: 97px;
        text-align: center;
    }
}

.swiper{
    margin-left: 375px;
    position: relative;
    height: 530px;
}

.swiper-wrapper{
    box-sizing: border-box;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next{
    color:black;
    width: 60px;
    height: 60px;
    border: 2px solid #67AEFC;
    border-radius: 15px;
    position: absolute;
    margin-top: 200px;
}

.swiper .swiper-button-prev{
    margin-left: 500px;
}

.swiper .swiper-button-next{
    margin-right: 870px;  
}

.block_slide{
    width: 672px;
    height: 389px;
    border: 2px solid #67AEFC;
    border-radius: 15px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding-left: 70px;
}

.swiper_text{
    width: 300px;
    margin-right: 8px;
    h3{
        margin-bottom: 20px;
        margin-top: 0;
        text-align: left;
        font-weight: bold;
    }
    p{
        font-family: 'Montserrat', sans-serif;
        @include text_par(18px, black, 400);
        line-height: 140%;
        text-align: left;
    }
}

.swiper_img_1{
    height: 250px;
    width: 250px;
    background: url('./../image/slider/slider_1.png');
}

.swiper_img_2{
    height: 222px;
    width: 227px;
    margin-top: 40px;
    background: url('./../image/slider/slider_2.png') no-repeat;
}

.swiper_img_2{
    height: 222px;
    width: 227px;
    margin-top: 40px;
    background: url('./../image/slider/slider_2.png') no-repeat;
}

.swiper_img_3{
    height: 253px;
    width: 250px;
    margin-top: 40px;
    background: url('./../image/slider/slider_3.png');
    transform: rotate(14deg);
}

.swiper_img_4{
    height: 205px;
    width: 250px;
    margin-top: 40px;
    background: url('./../image/slider/slider_4.png') no-repeat;
}

.swiper_img_5{
    height: 287.44px;
    width: 277.45px;
    margin-top: 40px;
    background: url('./../image/slider/slider_5.png') no-repeat;
}
